* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    background: #FCCF4D;
    font-family: 'Cairo', sans-serif;
    color: #4a4a4a;
}

header {
    text-align: center;

    img {
        margin-top: 30px;
        padding: 35px;
        width: 300px;
    }

    h1 {
        font-size: 40px;
        font-family: 'Rock Salt', cursive;
        color: #4a4a4a;
        margin: 20px 0 0;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .btn {
        color: #4a4a4a;
        width: 100px;
        height: 40px;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background: transparent;
        font: inherit;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        background-color: #fff;
        border: 2px solid #666;
        transition: all .5s ease;

        &-stripe {
            position: relative;

            &:after {
                content: '';
                height: 7px;
                width: 100%;
                background-image: repeating-linear-gradient(45deg,
                        #666,
                        #666 1px,
                        transparent 2px,
                        transparent 5px);
                border-top: 1px solid #666;
                position: absolute;
                left: 0;
                bottom: 0;
                background-size: 7px 7px;
            }

            &:hover {
                background-color: #666;
                color: #fff;
                border-color: #666;

                &:after {
                    background-image: repeating-linear-gradient(45deg,
                            #fff,
                            #fff 1px,
                            transparent 2px,
                            transparent 5px);
                    border-top: 1px solid #000;
                    animation: stripe-slide 12s infinite linear forwards;
                }
            }
        }
    }

    .game-start {

        h2 {
            color: #c51e00;
        }

        .btn-start {
            border: 5px solid #ffc107;
            width: 200px;
            height: 70px;

            &:hover {
                background-color: #292929;
            }
        }
    }

    .quest {
        .btn {
            width: 150px;
            height: 70px;
            font-size: 30px;
        }

        .btn-yes {
            margin-right: 20px;
            color: #066b24;

            &:hover {
                background-color: #066b24;
                color: #fff;
            }
        }

        .btn-no {
            margin-left: 20px;
            color: #c51e00;

            &:hover {
                background-color: #c51e00;
                color: #fff;
            }
        }
    }

    .new-quest {
        padding: 10px;

        h2 {
            margin: 10px;
        }

        .ending-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                margin: 10px;
                font-size: 1em;
                height: 40px;
                width: 300px;
            }

            label {
                font-weight: bold;
                height: 35px;
                width: 300px;
            }

            .btn-add-guess {
                margin-top: 30px;
                background-color: #fd7e14;
                width: 250px;
                color: white;
            }
        }
    }
}

.modal {
    display: flex;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 20rem;
        height: 15rem;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #aaa;
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            font-weight: bold;

            &:hover,
            &:active {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}






























footer {
    background-color: black;
    text-align: center;
    color: #add8e6;
}

@keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}